body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 18px;

}


.keypad {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
  z-index: 90;
}

.keypad .keys {
	position: relative;
	display: inline-block;
	width: 10%;
	font: 1.3em;
	margin: 5px;
	border: 1px solid #006400;
	cursor: pointer;
	border-radius: 10px;
	padding: 2px;

}

.keypad .keys:hover {
	box-shadow: 0 0 10px #4A4FE8;
}
  
.hangman {
  position: relative !important;
  width: 20%;
  display: inline-block;

}

@media screen and (max-width: 600px){
  .hangman {
    width: 50%;
  }
}

.hangman * {
    position:absolute;
    z-index: 10;
  }

.hangman .parts {
  top: 22px;
  left: 130px;
}  

.hangman img {
  position: relative;
  z-index: 9;
}

.hangman .parts div {
	display:none;
}
  #head {
    border:2px solid #000;
    border-radius:100%; 
    height:60px;
    width:60px;
    margin-left:30px;
  }
  
  #neck {
    border: 2px solid #000;
    width: 0.1px;
    margin-left:55px;
    height:70px;
    top:62px;
  }
  
  #hand1 {
    border: 2px solid #000;
    width:60px;
    /*margin-top:-200px;*/
    margin-left:0px;
    height:0.1px;
    transform-origin: 0% 0%;
    transform:  rotate(-20deg);
    top:90px;
   }

  #hand2 {
    border: 2px solid #000;
    width:60px;
    margin-left:58px;
    height:0.1px;
    transform-origin: 0% 0%;
    transform: rotate(20deg);
    top:70px;
  }


  #leg1 {
    border: 2px solid #000;
    width: 80px;
    /*margin-top:100px;*/
    margin-left:-10px;
    transform-orign: 0% 0%;
    transform: rotate(-60deg);
    top:170px;
  }

  #leg2 {
    border: 2px solid #000;
    width: 80px;
    margin-top:-34px;
    margin-left:62px;
    transform-origin: 0% 0%;
    transform: rotate(60deg);
    top:170px;
  }


.hangmanWrapper .question {
  /*float: right;*/
  vertical-align: top;
  display: inline-block;
}
